**/.git
**/.gitignore
**/.next/cache
**/node_modules
**/Dockerfile
**/README.md
**/.github
**/.vscode
**/.idea
**/*.log
**/coverage
**/dist
**/build
**/yarn.lock
**/pnpm-lock.yaml
**/.env*
**/.eslintrc*
**/.prettierrc*
**/jest.config.*
**/tsconfig.*
**/next-env.d.ts
**/cypress
**/__tests__
**/*.spec*
**/*.test*
